@import url("theme-style.css");

.header {
  padding: 0;
  text-align: center;
}

.site-header {
  margin: 0;
}

.site-content {
    display: block;
    float: left;
    margin-left: 0px;
    width: 100%;
}

.unslider-arrow {
  height: 50px;
  width: 50px;
  text-decoration: none;
  color: #3d3d3d;
  padding: 0 10px 5px 10px;
}


.next {
  position: absolute;
  background-image: url("images/arrow_right.svg");
  background-size: 100%;
  opacity: 0;
  top: 45%;
  right: 0;
}

.prev {
  position: absolute;
  background-image: url("images/arrow_left.svg");
  background-size: 100%;
  opacity: 0;
  top: 45%;
  left : 0;
}

.banner {
  height: 100%; 
  position: relative;
  overflow: auto;
  text-align: center;
}

.banner li { 
  list-style: none; 
}

.banner ul li { 
  float: left;
}

.banner a {
  border: none;
}

.banner .next,
.banner .prev {
  -webkit-animation-name: disappear; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  animation-name: disappear;
  animation-duration: 0.5s;
  opacity: 0;
}

.banner:hover .next,
.banner:hover .prev {
  display: block;
  opacity: 0.6;
  -webkit-animation-name: appear; /* Chrome, Safari, Opera */
  -webkit-animation-duration: 0.5s; /* Chrome, Safari, Opera */
  animation-name: appear;
  animation-duration: 0.5s;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes appear {
    from {opacity: 0;}
    to {opacity: 0.6;}
}

/* Standard syntax */
@keyframes appear {
    from {opacity: 0;}
    to {opacity: 0.6;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes disappear {
    0% {opacity: 0.6;}
    100% {opacity: 0;}
}

/* Standard syntax */
@keyframes disappear {
    0% {opacity: 0.6;}
    100% {opacity: 0;}
}
